@import "tailwindcss";

/* Global CSS Variables */
:root {
  --color-primary: #3b82f6;
  --color-secondary: #9333ea;
  --color-background: #0f172a;
  --color-text: #f8fafc;
  --radius-main: 16px;
}

/* Tailwind v4 theme mapping */
@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-text: var(--color-text);

  --radius-main: var(--radius-main);
}
